@model Author
<h1>Create Author</h1>
<form asp-action="NewAuthor">
    <div class="form-group">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Create User</button>
    <a asp-action="Index">Back to list</a>
</form>